body{
    background: rgb(94,118,203); 
    background: linear-gradient(155deg, rgba(94,118,203,1) 29%, rgba(7,24,147,1) 69%);
    background-size: cover;
    height: 100vh;
}

.fixed-top{
    /* display: flex; */
    width: 75vw;
    display: flex;
    align-items: center;
    top: 0;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 10px;
}
.imgProfileStyle{
    height: 40px;
    width: 40px;
}
.navbar{
    background-color: rgba(240, 240, 240, 1);
    
}
.bitch{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* height: 100rem; */
    align-items: center;
    justify-content: center;
}
#meme {
    height: 300px;
    width: 300px;
}
.textStyle{
    color: aliceblue;
    padding-top: 10px;
}